.student-content{
    --padding-bottom: 80px;
  }
  
.student-content-mobile{
    --background: white;
    --padding-bottom: 80px;
}

.student-fab-button{
    --background: var(--palette-blue);
}

.student-fab-button .icon{
    color: white;
}

.student-container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.student-container-mobile{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.student-container .item-card{
    border-radius: 20px;
    height: auto;
    width: 180px;
    box-shadow: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-container-mobile .item-card{
    border-radius: 20px;
    height: auto;
    width: 180px;
    box-shadow: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-card .student-card-avatar{
    width: 120px;
    height: 120px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.item-card .name{
    font-weight: bold;
    height: 0px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
    height: 25px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}