/* .announcement-content{ */
    /* --background: var(--palette-light-orange); */
/* } */

.announcement-content-mobile{
    --background: white;
}

.announcement-container{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.announcement-card{
    border-radius: 20px;
    background-color: white;
    width: 90%;
    /* box-shadow: 0px 0px 0px 5px var(--palette-blue); */
}

.announcement-card .title{
    font-weight: bold;
}

.announcement-card p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.announcement-fab-button{
    --background: var(--palette-blue);
}

.announcement-fab-button .icon{
    color: white;
}

.announcement-edit-button{
    --background: var(--palette-blue);
}

.announcement-edit-button .icon{
    color: white;
    height: 20px;
    width: 20px;
}

.announcement-delete-button{
    --background: var(--palette-red);
    padding: 0px;
}

.announcement-delete-button .icon{
    color: white;
    height: 20px;
    width: 20px;
}

.announcement-date-mobile{
    font-weight: bold;
    padding-left: 17px;
}