.announcement-container{
    background-color: var(--palette-light-orange);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.announcement-container-mobile{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.announcement-card{
    border-radius: 20px;
    background-color: white;
    width: 90%;
}

.announcement-card .title{
    font-weight: bold;
}

.announcement-card p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.announcement-fab-button{
    --background: var(--palette-blue);
}

.announcement-fab-button .icon{
    color: white;
}

.announcement-edit-button{
    --background: var(--palette-blue);
}

.announcement-edit-button .icon{
    color: white;
    height: 20px;
    width: 20px;
}

.announcement-delete-button{
    --background: var(--palette-red);
    padding: 0px;
}

.announcement-delete-button .icon{
    color: white;
    height: 20px;
    width: 20px;
}

.announcement-date-mobile{
    font-weight: bold;
    padding-left: 17px;
}