.project-file-appbar{
    width: 100%;
    height: 8%;
    background-color: var(--palette-light-red);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-file-appbar .project-file-back-button{
    --background: transparent;
}

.project-file-back-button .icon{
    color: white;
    height: 24px;
    width: 24px;
}

.project-file-appbar .header{
    font-weight: bold;
    color: white;
    font-size: 20px;
    line-height: 0px;
    height: 8%;
}

.project-file-add-button-icon{
    color: white;
}

.delete-file-icon{
    color: var(--palette-red);
    width: 25px;
    height: 25px;
}

.project-file-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project-file-item{
    width: 98%;
}

.project-file-content-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    bottom: 30px;
    right: 15px;
}
.project-file-approve-icon{
    height: 40px;
    width: 40px;
}