.my-team-container{
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-team-container .my-team-student-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}

.my-team-member-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.my-team-adviser-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-team-member-item-container .avatar{
    height: 150px;
    width: 150px;
}

.my-team-member-item-container .name{
    font-weight: bold;
    font-size: 24px;
    line-height: 0px;
}

.my-team-member-item-container .role{
    color: grey;
    font-weight: 600;
    font-size: 20px;
    line-height: 0px;
}

.my-team-member-item-container .responsibilities{
    font-size: 16px;
    line-height: 0px;
}

.my-team-adviser-item-container .avatar{
    height: 150px;
    width: 150px;
}

.my-team-adviser-item-container .name{
    font-weight: bold;
    font-size: 24px;
    line-height: 0px;
}

.my-team-adviser-item-container .role{
    color: grey;
    font-weight: 600;
    font-size: 20px;
    line-height: 0px;
}

.my-team-meet-button{
    --background: var(--palette-red);
    color: white;
    --padding-start: 80px;
    --padding-end: 80px;
    --padding-top: 30px;
    --padding-bottom: 30px;
}

.my-team-content-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-team-name{
    font-weight: bold;
    font-size: 28px;
}

@media only screen and (max-width: 1200px) {
    .my-team-member-item-container .name{
        font-weight: bold;
        font-size: 20px;
        line-height: 0px;
    }
    .my-team-member-item-container .role{
        color: grey;
        font-weight: 600;
        font-size: 18px;
        line-height: 0px;
    }
    .my-team-member-item-container .responsibilities{
        font-size: 15px;
        line-height: 0px;
    }
}

@media only screen and (max-width: 1100px) {
    .my-team-member-item-container .name{
        font-weight: bold;
        font-size: 15px;
        line-height: 0px;
    }
    .my-team-member-item-container .role{
        color: grey;
        font-weight: 600;
        font-size: 15px;
        line-height: 0px;
    }
    .my-team-member-item-container .responsibilities{
        font-size: 14px;
        line-height: 0px;
    }
}