.input-field{
    --border-width: 3px;
    --border-color: grey;
    --border-radius: 10px;
    width: 400px;
}

.input-field-mobile{
    --border-width: 3px;
    --border-color: grey;
    --border-radius: 10px;
    width: 95%;
}