.advisee-profile-button{
    --background: var(--palette-light-red);
    --border-radius: 30px;
    width: 300px;
    height: 50px;
    color: white;
}

.advisee-profile-responsibility{
    color: grey;
    text-align: center;
}

.advisee-profile-content-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}